<div class="container">
<p id="notice"><%= notice %></p>

	<% if @recipe.image? %>
	<%= image_tag @recipe.image.url, class: "recipe-show" %>
	<% end %>

<br>
<br>

<div class="row">
<div class="col-md-3">
<h4>
  <strong>Title:</strong>
  <br>
  <%= @recipe.title %>
</h4>
</div>

<div class="col-md-3">
<h4>
  <strong>Description:</strong>
  <br>
  <%= @recipe.description %>
</h4>
</div>

<div class="col-md-3">
<h4>Ingredients</h4>
<ul>
	<% for @ingredient in @recipe.ingredients %>
		<li><%= @ingredient.content %></li>
	<% end %>
</ul>
</div>

<div class="col-md-3">
<h4>Steps</h4>
<ol>
	<% for @step in @recipe.steps %>
		<li><%= @step.direction %></li>
	<% end %>
</ol>
</div>

</div><!-- end row -->

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
</div>
