<!DOCTYPE html>
<html>
  <head>
    <title>RecipeDb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="container">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<%= link_to "Tina's Recipe App", root_path, class: 'navbar-brand' %>
<%= link_to "About", pages_about_path, class: 'navbar-brand' %> 

<% if user_signed_in? %>
<%= link_to current_user.email, edit_user_registration_path, class: 'navbar-brand' %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-brand' %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path, class: 'navbar-brand' %>
<%= link_to "Login", new_user_session_path, class: 'navbar-brand' %>
<% end %>
</nav>

<div class="row">
<% if notice %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>
</div>

<div class="row">
<% if alert %>
  <div class="alert alert-warning"><%= alert %></div>
<% end %>
</div>

  <body>
    <%= yield %>
    <br>
    <br>
    <footer>
      <h4>Footer Info Here</h4>
    </footer>
  </body>
</div><!-- container -->

</html>

