<!DOCTYPE html>
<html>
  <head>
    <title>RecipeDb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="container">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<div class="row">
<%= link_to "Tina's Recipe App", root_path, class: 'navbar-brand' %>
<br>
<%= link_to "About", pages_about_path, class: 'navbar-brand', class: 'navbar-right' %>
</div>
</nav>

  <body>
    <%= yield %>
    <br>
    <br>
    <footer>
      <h4>Footer Info Here</h4>
    </footer>
  </body>
</div><!-- container -->

</html>
